@import url("https://fonts.google.com/specimen/Manrope");

$colors: (
  mainbg: hsl(230, 100%, 99%),
  title: hsl(227, 35%, 25%),
  textcolor: hsl(225, 20%, 60%),
  cardbg: hsl(223, 50%, 87%),
  slider: hsl(174, 86%, 45%),
  sliderbar: hsl(174, 77%, 80%),
  discount: hsl(14, 92%, 95%),
  discounttext: hsl(15, 100%, 70%),
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  position: relative;
}

body {
  background-color: map-get($colors, mainbg);
}

.circle_1 {
  position: absolute;
  top: 10%;
  left: 50%;
}

.circle_2 {
  position: absolute;
  top: 15%;
  left: 47%;
}

.title {
  position: absolute;
  top: 20%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    color: map-get($colors, title);
    font-weight: 800;
  }

  p {
    margin-top: 10px;
    color: map-get($colors, textcolor);
  }
}

img {
  width: 100vw;
}

.card {
  position: absolute;
  top: 50%;
  left: 35%;
  background: white;
  box-shadow: 3px 3px 10px map-get($colors, cardbg);
  border-radius: 10px;
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 13px;
    font-weight: 600;
    color: map-get($colors, textcolor);
  }

  /* .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    .text_1 {
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-right: 100px;
    }

    .text_2 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1px;
        margin-right: 5px;
        color: map-get($colors, title);
      }
    } */

  .card_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 3rem;
  }

  .view {
    align-self: flex-start;
  }

  h1 {
    position: absolute;
    right: 6.5rem;
    top: 17%;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    color: map-get($colors, title);
  }

  span {
    position: absolute;
    right: 3rem;
    top: 25%;
    font-size: 13px;
    font-weight: 600;
    color: map-get($colors, textcolor);
  }
  // }

  /* .slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      hsl(174, 77%, 80%) 50%,
      hsl(224, 65%, 95%) 50%
    );
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 20px;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../images/icon-slider.svg) no-repeat center;
    background-color: map-get($colors, sliderbar);
    box-shadow: 0px 10px 20px map-get($colors, sliderbar);
    cursor: pointer;
  }

  .text_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    p {
      font-size: 12px;
      font-weight: 600;
      color: map-get($colors, textcolor);
      margin-right: 15px;
    }

    #discount {
      border: none;
      background-color: map-get($colors, discount);
      padding: 5px;
      border-radius: 10px;
      color: map-get($colors, discounttext);
    }

    #discount1 {
      display: none;
    }

    .switch {
      width: 40px;
      height: 20px;
      margin-right: 15px;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider1 {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: map-get($colors, cardbg);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider1:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider1 {
      background-color: #2196f3;
    }

    input:focus + .slider1 {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider1:before {
      -webkit-transform: translateX(19px);
      -ms-transform: translateX(19px);
      transform: translateX(19px);
    }

    .slider1.round {
      border-radius: 34px;
    }

    .slider1.round:before {
      border-radius: 50%;
    }
  }

  hr {
    background-color: map-get($colors, mainbg);
    width: 100%;
    opacity: 50%;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;

    img {
      width: 10px;
      height: 10px;
    }

    .text_4 div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 7px;
      margin-right: 3rem;
    }

    .text_4 p {
      margin-left: 5px;
    }

    button {
      padding: 10px;
      border-radius: 20px;
      color: map-get($colors, textcolor);
      width: 150px;
      border: none;
      background-color: map-get($colors, title);
    }

    button:hover {
      color: white;
    }
  }
}

$mobile: 375px;
@media only screen and (max-width: $mobile) {
  #bg {
    width: 100vw;
    height: 100vw;
  }

  .circle_1 {
    left: 45%;
  }

  .circle_2 {
    left: 30%;
  }

  .title {
    top: 25%;
    left: 20%;
    width: fit-content;

    h2 {
      font-size: 15px;
    }

    p {
      font-size: 13px;
      width: 170px;
    }
  }

  .card {
    top: 50%;
    left: 10%;
    width: 80vw;
    height: 70vh;

    .card_header{
      padding: 1rem;
      width: 100vw;
      height: 300vw;
    }
  
    .view {
      align-self: center;
    }
  
    h1 {
      right: 10rem;
      top: 50%;
    }
  
    span {
      right: 6.5rem;
      top: 60%;
    }

    p {
      font-size: 10px;
    }

    .slider {
      margin-top: 30px;
      width: 220px;
    }

    .text_3 {
      align-self: center;
      margin-top: 70px;

      p {
        font-size: 10px;
        margin-right: 5px;
      }

      #discount {
        display: none;
      }

      #discount1 {
        display: inline-block;
        padding: 2px;
        width: 35px;
        border: none;
        background-color: map-get($colors, discount);
        border-radius: 10px;
        color: map-get($colors, discounttext);
        text-align: center;
      }

      .switch {
        width: 40px;
        height: 20px;
        margin-right: 5px;
      }
    }

    hr {
      margin-top: 0;
    }

    .bottom {
      flex-direction: column;
      justify-content: center;
      margin-top: 0;

      .text_4 div {
        justify-content: center;
      }
    }
  }
}

$desktop: 1440px;
@media only screen and (max-width: $desktop) {
}
